/* Global */

*, *::before, *::after {
	box-sizing: border-box;
}

body {
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 16px;
    line-height: 2.4;
    color: #333333;
    background-color: #ffffff;
    margin: 0;
    padding: 20px;
  }
  
  .container {
    max-width: 500px;
    margin: 0 auto;
    padding: 40px;
  }
  
  .section-title {
    text-align: center;
  }

  .sonet-text {
    text-align: center;
  }
  
  
